<h2>Existencias</h2>

<%= form_tag inventories_existences_make_spreadsheet_url, :method => :post do %>

	<%= label_tag 'Fecha:' %> <%= select_date(Time.now, :order => [:day,:month, :year]) %> <br />
	<%= submit_tag "Generar documento", :name => nil %> <br />

<% end %>